<!DOCTYPE html>
<html>
  <head>
    <title>Granite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <div id = "container">
      <% if @current_user %>
        Hi <%= @current_user.name %>
        <br />
        <%= link_to "Logout", logout_path, method: :delete, class: 'btn btn-primary btn-sm' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
